.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_1 {
    padding-top: 32px;
    padding-bottom: 60px;
}

.title_2 {
    padding-top: 60px;
}

.title_3 {
    padding-top: 8px;
    padding-bottom: 118px;
    color: #8585AD;
}