.ingredient_item {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.ingredient_image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid purple;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 16px;
}

.ingredient_image img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.title_container {
    width: 320px;
}

.price_container {
    display: flex;
    align-items: center;
    margin-left: auto;
}
