.ingredient {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    cursor: pointer;
    height: 208px;
    width:272px;
    text-align: center;
}